<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтвердите адрес электронной почты</title>
</head>
<body>

<h1>Подтвердите адрес электронной почты</h1>

<p>Спасибо за регистрацию на AddressParser!</p>

<p>Пожалуйста, подтвердите свой адрес электронной почты ({{ email }}), нажав ссылку ниже. Срок действия этой ссылки
    истекает через 48 часов.</p>

<a href="{{ url }}">Подтверждение</a>

</body>
</html>