<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уведомление о зачислении платежа</title>
</head>
<body>

<h1>Уведомление о зачислении платежа</h1>

<p>Уведомляем вас о зачислении оплаты на сумму {{ sum }} RUB.</p>

<p>Текущий баланс лицевого счёта равен {{ balance }} RUB.</p>

</body>
</html>