{% extends "layout.html" %}

{% block title %}Страница не найдена | Парсер адреса{% endblock %}

{% block content %}
<section class="vh-100 d-flex flex-column justify-content-center">
    <h1 class="text-center mb-3 mt-3">404</h1>
    <h2 class="text-center mb-3 mt-3">Страница, которую вы ищете, не найдена.</h2>
    <div class="text-center  mb-3 mt-3">
        <a class="btn btn-lg btn-primary" href="{{ url_for('core.index') }}">В начало</a>
    </div>
</section>
{% endblock %}