{% extends "layout.html" %}

{% block title %}{{ error.name }} | Парсер адреса{% endblock %}

{% block content %}
<section class="vh-100 d-flex flex-column justify-content-center">
    <h1 class="text-center mb-3 mt-3">{{ error.code }}</h1>
    <h2 class="text-center mb-3 mt-3">Сервер обнаружил внутреннюю ошибку и не смог выполнить ваш запрос. Либо сервер
        перегружен, либо в приложении произошла ошибка.</h2>
    <div class="text-center  mb-3 mt-3">
        <a class="btn btn-lg btn-primary" href="{{ url_for('core.index') }}">В начало</a>
    </div>
</section>
{% endblock %}