{% extends "layout2.html" %}

{% block title %}Демонстрация работы | Парсер адреса{% endblock %}

{% block content2 %}
<section>
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-3 mb-3">
                <h1>Демонстрация работы</h1>
                <p>Введите адрес, чтобы увидеть как работает address-parser.ru</p>
                <form action="{{ url_for('core.demo') }}" autocomplete="off" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.address(size=64, class="form-control", placeholder="Введите адрес") }}
                    </div>
                    <input class="btn btn-primary" id="demo-submit" type="submit" value="Распарсить">
                    <a class="btn btn-default" href="{{ url_for('core.demo') }}">Сброс</a>
                </form>
                {% if (result) %}
                <pre class="mt-3"><code class="json">{{ result }}</code></pre>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content2 %}