{% extends "layout.html" %}

{% block title %}Простое API для разбора адреса на компоненты{% endblock %}

{% block meta %}
<meta
        content="Парсер разбивает адрес на компоненты - индекс, страна, город, регион, город, улица, дом, квартира. Результат возвращает в виде JSON."
        name="description">
<meta content="парсер разбивает адрес компоненты индекс страна город регион город улица дом квартира" name="keywords">
{% endblock %}

{% block content %}
<section class="vh-100 d-flex flex-column justify-content-center intro">
    <div class="container">
        <h1 class="text-uppercase text-center text-white font-weight-bolder">ADDRESS PARSER</h1>
        <h2 class="text-center mt-5 mb-5 text-white">Сервис разбивает строку почтового адреса на компоненты - страна,
            регион, город, улица.</h2>
        <div class="text-center animated" data-animation="bounceIn" data-animation-delay="300">
            <a class="btn btn-primary btn-lg text-uppercase pl-5 pr-5" href="{{ url_for('core.demo') }}">Попробовать
                бесплатно</a>
        </div>
    </div>
</section>

<section>
    <div class="container pt-5 pb-5">
        <h3 class="text-center m-4">Как работает сервис</h3>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p>Для хранения почтовых адресов обычно выбирают универсальный тип данных - текстовые строки.
                    Однако, если адрес представлен в виде строки, найти клиентов, проживающих, к примеру, в городе
                    Москва, невозможно: поиск по подстроке “Москва” ничего не даст, поскольку существует огромное
                    количество населенных пунктов, где есть улица “1-я Москва” и т.п. Но если адрес предварительно
                    разбить на компоненты - страна, регион, город, улица, - тогда поиск клиентов, проживающих в
                    городе Москва, будет работать точно и быстро.</p>
                <p>Для решения подобных задач и был создан сервис Address Parser.</p>
                <p>Сервис имеет REST API-интерфейс, который принимает строку почтового адреса в запросе, разбивает
                    адрес на компоненты и возвращает адрес в виде структуры текстовых полей.</p>
            </div>
            <div class="col-sm-12 col-md-4 animated" data-animation="fadeInRight" data-animation-delay="300">
                <img alt="Разработчикам" class="img-fluid"
                     src="{{ url_for('static', filename='img/address-parser.png') }}">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container pt-5 pb-5">
        <h3 class="text-center m-4">Какие задачи помогает решать сервис</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-3 mb-3 animated" data-animation="fadeInLeft" data-animation-delay="300">
                <i class="feature__icon fa fa-database"></i>
                <i class="feature__background fa fa-database"></i>
                <div class="feature__content">
                    <h4>Хранение</h4>
                    <p>Некоторые составляющие адреса можно заменить на ссылки из
                        справочников - например, страна, регион, город, улица. За счет исключения дублирования
                        информации уменьшается размер базы данных.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mb-3 animated" data-animation="fadeInRight" data-animation-delay="300">
                <i class="feature__icon fa fa-users"></i>
                <i class="feature__background fa fa-users"></i>
                <div class="feature__content">
                    <h4>Группировка</h4>
                    <p>При формировании аналитических отчетов часто требуется группировать
                        покупателей по регионам или городам. Для решения этой задачи адреса предварительно разделяются
                        на компоненты.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  mt-3 mb-3 animated" data-animation="fadeInLeft" data-animation-delay="300">
                <i class="feature__icon fa fa-search"></i>
                <i class="feature__background fa fa-search"></i>
                <div class="feature__content">
                    <h4>Поиск и фильтрация</h4>
                    <p>Если адрес разбить на компоненты - страна, регион, город, улица,
                        - это ускорит поиск по городу или региону и сведет к нулю вероятность получения ошибочных
                        результатов.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-3 mb-3 animated" data-animation="fadeInRight" data-animation-delay="300">
                <i class="feature__icon fa fa-print"></i>
                <i class="feature__background fa fa-print"></i>
                <div class="feature__content">
                    <h4>Вывод на печать</h4>
                    <p>В большинстве стандартных печатных форм для вывода почтового адреса
                        на печать составляющие адреса необходимо выводить в разные поля. Адрес, представленный в виде
                        структуры, гораздо проще выводить на печать.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-dark">
    <div class="container pt-5 pb-5">
        <h3 class="text-center m-4 text-light">Наши достижения</h3>
        <div class="row mb-4">
            <div class="col-12 col-md-4 mt-3 mb-3 mb-md-0 mt-md-0 animated" data-animation="bounceIn"
                 data-animation-delay="300">
                <div class="text-center display-4 font-weight-bolder text-primary counter" data-counter-end="5"
                     data-counter-refresh-interval="1000"
                     data-counter-speed="2000">5
                </div>
                <div class="text-center text-light">Клиентов</div>
            </div>
            <div class="col-12 col-md-4 mt-3 mb-3 mb-md-0 mt-md-0 animated" data-animation="bounceIn"
                 data-animation-delay="300">
                <div class="text-center display-4 font-weight-bolder text-primary counter" data-counter-end="100000"
                     data-counter-speed="2000">100000
                </div>
                <div class="text-center text-light">Обработано адресов</div>
            </div>
            <div class="col-12 col-md-4 mt-3 mb-3 mb-md-0 mt-md-0 animated" data-animation="bounceIn"
                 data-animation-delay="300">
                <div class="text-center display-4 font-weight-bolder text-primary counter" data-counter-end="0.9783"
                     data-counter-speed="2000"
                     data-counter-style="percent">97,83%
                </div>
                <div class="text-center text-light">Точность разбора</div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-5 pb-5">
        <h3 class="text-center m-4">Кому сервис может быть полезен</h3>
        <div class="row mb-4">
            <div class="col-sm-12 col-md-4 animated" data-animation="fadeInLeft" data-animation-delay="300">
                <img alt="Маркетологам" class="img-fluid" src="{{ url_for('static', filename='img/marketer.jpg') }}">
                <h4 class="text-center">Маркетологам</h4>
                <p>Анализировать продажи с группировкой по регионам, городам, районам </p>
            </div>

            <div class="col-sm-12 col-md-4 animated" data-animation="fadeInUp" data-animation-delay="300">
                <img alt="Дистрибьюторам" class="img-fluid"
                     src="{{ url_for('static', filename='img/distributor.jpg') }}">
                <h4 class="text-center">Дистрибьюторам</h4>
                <p>Сравнивать работу дилеров по странам, регионам и городам</p>
            </div>

            <div class="col-sm-12 col-md-4 animated" data-animation="fadeInRight" data-animation-delay="300">
                <img alt="Разработчикам" class="img-fluid" src="{{ url_for('static', filename='img/developer.jpg') }}">
                <h4 class="text-center">Разработчикам</h4>
                <p>Простая интеграция для решения важных бизнес задач.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}