<!DOCTYPE html>
<html lang="ru">
<head>
<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XT7LRQ');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    {% block meta %}{% endblock meta %}
    <link href="{{ url_for('core.favicon') }}" rel="shortcut icon">
    <link href="{{ file_url('css/style.css') }}" rel="stylesheet">
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XT7LRQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% block content %}{%- endblock content %}
<script src="{{ file_url('js/script.js') }}"></script>
{% block script %}{%- endblock script %}
</body>
</html>

