{% extends "layout.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('core.index') }}">Address Parser</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item{% if (request.endpoint == 'core.demo') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('core.demo') }}">Демо</a>
                </li>
                <li class="nav-item{% if (request.endpoint == 'api.doc') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('api.doc') }}">Документация</a>
                </li>
                {% if is_authority() %}
                <li class="nav-item{% if (request.endpoint == 'core.profile') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('core.profile') }}">Профиль</a>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('core.logout') }}" autocomplete="off" method="POST">
                        {{ logout_form.csrf_token }}
                        <input class="btn btn-link nav-link" type="submit" value="Выйти">
                    </form>
                </li>
                {% else %}
                <li class="nav-item{% if (request.endpoint == 'core.register') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('core.register') }}">Регистрация</a>
                </li>
                <li class="nav-item{% if (request.endpoint == 'core.login') %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('core.login') }}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% with messages = get_flashed_messages() %}
{% if messages %}
<section>
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endwith %}

{% block content2 %}{% endblock content2 %}

{% endblock content %}