{% extends "layout2.html" %}

{% block title %}Профиль | Парсер адреса{% endblock %}

{% block content2 %}
<section>
    <div class="container">
        <h1>Профиль</h1>
        <p><b>Ваш API key</b> <samp>{{ user.api_key }}</samp></p>
        <p><b>Текущий баланс</b> {{ user.balance }} &#8381;</p>
        <h2>Пополнить баланс</h2>

        <div class="row">
            {% for i in prices %}
            <div class="col-md-4 col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title mt-3 mb-3">{{ i.requests }} запросов</h3>
                        <h4 class="card-title mt-3 mb-3">{{ i.price }} <small>&#8381;</small></h4>
                        <div class="card-text mt-3">
                            <form action="https://money.yandex.ru/quickpay/confirm.xml" method="POST">
                                <input name="receiver" type="hidden" value="{{ receiver }}">
                                <input name="formcomment" type="hidden" value="Пополнение баланса address-parser.ru">
                                <input name="short-dest" type="hidden" value="Пополнение баланса address-parser.ru">
                                <input name="label" type="hidden" value="{{user.email}}">
                                <input name="quickpay-form" type="hidden" value="shop">
                                <input name="targets" type="hidden"
                                       value="Пополнение баланса address-parser.ru на {{ i.price }} рублей">
                                <input data-type="number" name="sum" type="hidden" value="{{ i.price }}">
                                <input name="comment" type="hidden" value="">
                                <input name="need-fio" type="hidden" value="false">
                                <input name="need-email" type="hidden" value="false">
                                <input name="need-phone" type="hidden" value="false">
                                <input name="need-address" type="hidden" value="false">
                                <div class="form-group">
                                    <label>
                                        <input checked name="paymentType" type="radio" value="PC">
                                        Яндекс.Деньгами
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input name="paymentType" type="radio" value="AC">
                                        Банковской картой
                                    </label>
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    Оплатить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content2 %}