{% extends "layout2.html" %}

{% block title %}Регистрация | Парсер адреса{% endblock %}

{% block content2 %}
<section>
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-3 mb-3">
                <h1>Регистрация</h1>
                <form action="{{ url_for('core.register') }}" autocomplete="off" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.email.label}}
                        {{ form.email(size=64, class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                        {% for error in form.email.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(size=64, class="form-control" + (" is-invalid" if form.password.errors else
                        "")) }}
                        {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password_repeat.label }}
                        {{ form.password_repeat(size=64, class="form-control" + (" is-invalid" if
                        form.password_repeat.errors else "")) }}
                        {% for error in form.password_repeat.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
                    <a class="btn btn-default" href="{{ url_for('core.register') }}">Сброс</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content2 %}