$fa-font-path: "../fonts";
$use-fadeInLeft: true;
$use-bounceIn: true;
$use-fadeInRight: true;
$use-fadeInUp: true;

@import "~animate-sass/_animate";
@import "~highlight.js/scss/ir-black";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

// $header-font-family: "Montserrat", sans-serif;
// $text-font-family: "Roboto", sans-serif;
//$action-color: #4c51e0;

.animated {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.intro {
  background-image: url(../img/intro.jpg);
  background-position: 0, 0;
  background-size: cover;
}

.feature {
  &__icon {
    color: $blue;
    width: 44px;
    font-size: 43px;
    display: table-cell;
    float: left;
  }

  &__background {
    display: table-cell;
    float: left;
    width: 44px;
    position: absolute;
    opacity: 0.03;
    padding-left: 40px;
    font-size: 134px;
    left: 0;
  }

  &__content {
    display: table-cell;
    padding-left: 24px;
  }
}